.row.span10
  %h2.section-header
    %span.pull-right= @lot.created_at.strftime('%Y/%m/%d %H:%M')
    = "#{@lot.lot_number} : #{@lot.item_master.code} - #{@lot.item_master.description}"
  - @lot.lot_versions.each do |lot_version|  
    %h4.text-info
      %span.pull-right= lot_version.updated_at.strftime('%Y/%m/%d %H:%M')
      = "#{lot_version.version} : #{lot_version.comments}"
    %table.table
      %thead
        %tr
          %th.span2 Property
          %th.span2 Results from
          %th.span1 Tolerance
          %th.span1 Reading
          %th.span1 Pass
          %th.span2 Equipment
          %th.span2 Comment
      %tbody
      - lot_version.samples.each do |sample|
        %tr{class: result_class(sample)}
          %td= sample.standard_property
          %td= sample.data_version ? "version ##{sample.data_version_id}" : ''
          %td= tolerance sample.standard
          %td= "#{sample.value} #{sample.unit_of_measure}"
          %td= check_box_tag :pass, '1', sample.pass, disabled: true
          %td= sample.equipment.name
          %td= sample.comments
      

  