<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<%= link_to I18n.t('company.name'), :home, :class => "brand span2" %>
			<%= render partial: 'lab/shared/navmenu' %>
			<div class="nav pull-right btn-group" style="margin-top: 7px;"><!-- Keep the style for spacing -->
				<%= link_to t('session.signin.label'), "#", :class => "btn btn-inverse" %>
				<a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
				<ul class="dropdown-menu">
					<% if technician_signed_in? %>
					<li><%= link_to t('session.signout.lab'), destroy_technician_session_path, :method => :delete %></li>
					<% else %>
					<li><%= link_to t('session.signin.lab'), new_technician_session_path %></li>
					<% end %>
					<li><%= link_to t('session.signin.admin'), '/admin/login' %></li>
				</ul>
			</div>
		</div>
	</div>
</div>