%tr
  %td
    = hidden_field_tag "[lot_version][samples_attributes][#{sample_counter}][id]", sample.id
    = hidden_field_tag "[lot_version][samples_attributes][#{sample_counter}][standard_id]", sample.standard_id
    = hidden_field_tag "[lot_version][samples_attributes][#{sample_counter}][technician_id]", sample.technician_id
    = sample.standard_property
  %td
    = hidden_field_tag "[lot_version][samples_attributes][#{sample_counter}][data_version_id]", sample.data_version_id
    = sample.data_version ? "version ##{sample.data_version.version}" : ''
  %td
    = hidden_field_tag "[stamp_row][#{sample_counter}]", nil
    = text_field_tag "[lot_version][samples_attributes][#{sample_counter}][value]", sample.value, 
      class: 'input-mini set-version', 
      data: {row: sample_counter, id: sample.id ||= 0}
    = sample.unit_of_measure
  %td
    = check_box_tag "[lot_version][samples_attributes][#{sample_counter}][pass]", '1', sample.pass, disabled: true
  %td 
    = select_tag "[lot_version][samples_attributes][#{sample_counter}][equipment_id]", options_from_collection_for_select(sample.standard.standard_equipments, :equipment_id, :name)
  %td
    = text_field_tag "[lot_version][samples_attributes][#{sample_counter}][comments]", sample.comments