<!DOCTYPE html>
<html>
<head>
  <title>Distinct</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'shared/navbar' %>
	<div class="container-fluid">
		<div class="row-fluid">
			<%= render :partial => 'shared/sidebar' %>
			<div class="span10">
				<% flash.each do |name, msg| %>
				  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
				<% end %>
				<%= yield %>
			</div>
		</div>
		<%= render 'shared/footer' %>
	</div>
</body>
</html>
