%tr
  %td= link_to installation.client_code, installed_base_client_path(installation.client)
  %td= link_to installation.printer_model_name, installed_base_installation_path(installation)
  %td= installation.ink_system_name
  %td= installation.consumption_profile.code
  %td= installation.printer_function_name
  %td= installation.representative_name
  %td
    =link_to "Edit", edit_installed_base_installation_path(installation), class: 'btn btn-mini'
    =link_to "Delete", installed_base_installation_path(installation), method: :delete, confirm: "Really delete?", class: 'btn btn-mini btn-danger'
